<section class="categories">
    
<div class="row">
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body"  >
                <img class="item-img-top" src="assets/images/ele.jpg" alt="item">
                <h5 class="card-title">Electronics</h5>
                <p class="card-text">Choose</p>
                <a href="#clth" class="btn btn-primary" routerLink="/Clk">Select</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/images/clothes.jpg" alt="item">
                <h5 class="card-title">Fashion</h5>
                <p class="card-text">Choose</p>
                <a href="#clth" class="btn btn-primary" routerLink="/Cls">Select</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/images/groc.jpg" alt="item">
                <h5 class="card-title">Groceries</h5>
                <p class="card-text">Choose</p>
                <a href="#clth" class="btn btn-primary" routerLink="/Select">Select</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/images/access.jpg" alt="item">
                <h5 class="card-title">Accessories</h5>
                <p class="card-text">Choose</p>
                <a href="#clth" class="btn btn-primary" routerLink="/Select">Select</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/images/beau.jpg" alt="item">
                <h5 class="card-title">Beauty</h5>
                <p class="card-text">Choose</p>
                <a href="#clth" class="btn btn-primary" routerLink="/Select">Select</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/images/spor.jpg" alt="item">
                <h5 class="card-title">Sports</h5>
                <p class="card-text">Choose</p>
                <a href="#clth" class="btn btn-primary" routerLink="/Select">Select</a>
            </div>
        </div>
    </div>
</div>
</section>

   