<div class="row">
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body"  >
                <img class="item-img-top" src="assets/images/mi.jpg" alt="item">
                <h5 class="card-title">Mobiles</h5>
                
                <a href="#clth" class="btn btn-primary" routerLink="/Cll/">Select</a>
            </div>
        </div>
    </div>


    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body"  >
                <img class="item-img-top" src="assets/images/lapp.jpg" alt="item">
                <h5 class="card-title">Laptops</h5>
              
                <a href="#clth" class="btn btn-primary" routerLink="/Cll/">Select</a>
            </div>
        </div>
    </div>


    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body"  >
                <img class="item-img-top" src="assets/images/wass.jpg" alt="item">
                <h5 class="card-title">Washing Machines</h5>
            
                <a href="#clth" class="btn btn-primary" routerLink="/Cll/">Select</a>
            </div>
        </div>
    </div>
</div>