<!-- <section class="container-fluid bg-light p-5">
    <h3>Discounts</h3>

    <div class="card" *ngIf="contacts.length==0">
        <p class="card-text">No discounts Found</p>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>DiscountId</th>
                <th>Discount name</th>
                <th>Discount %</th> 
                <th></th>                   
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of contacts">
                <td>{{d.discountID}}</td>
                <td>{{d.discountName}} </td>
                <td>{{cd.discount%}}</td>
                <td>
                   
                    <a class="btn btn-success btn-sm mr-2"
                    [routerLink]="'/edit/'+c.contactID">EDIT</a>
                    <a class ="btn btn-warning btn-sm mr-2"
                    (click)="add(d.discountID)">ADD</a>
                </td>
            </tr>
        </tbody>
        
    </table>
</section> -->