<section class="sub categories">
    
    <div id="Electronics">
    <div class="card-column">
        <div class="item" style="width:300">
        <img class="item-img-top" src="C:\Cts\angular8\Emart\src\assets\mobiles.jpg"alt="item">
        <div class="item-body">
            <h4 class="item-title">Mobile product</h4>
            <p class="item text">choose which one you wnat</p>
            <a href="#mbl" class="btn btn-primary">Select</a>
        </div>
        </div>
        <div class="item" style="width:300">
            <img class="item-img-top" src="C:\Cts\angular8\Emart\src\assets\laptop.jpg"alt="item">
            <div class="item-body">
                <h4 class="item-title">Laptop Product</h4>
                <p class="item text">choose which one you wnat</p>
                <a href="#lap" class="btn btn-primary">Select</a>
            </div>
            </div>
            <div class="item" style="width:300">
                <img class="item-img-top" src="C:\Cts\angular8\Emart\src\assets\tv.jpg"alt="item">
                <div class="item-body">
                    <h4 class="item-title">Tv</h4>
                    <p class="item text">choose which one you wnat</p>
                    <a href="#tv" class="btn btn-primary">Select</a>
                </div>
                </div>
                <div class="item" style="width:300">
                    <img class="item-img-top" src="C:\Cts\angular8\Emart\src\assets\washingmachine.jpg"alt="item">
                    <div class="item-body">
                        <h4 class="item-title">Washingmachine</h4>
                        <p class="item text">choose which one you wnat</p>
                        <a href="#wash" class="btn btn-primary">Select</a>
                    </div>
                </div>
        </div>
    </div>
    
    <div id="clth">
        <div class="card-column">
            <div class="item" style="width:300">
            <img class="item-img-top" src="C:\Cts\angular8\Emart\src\assets\womenswear.jpg"alt="item">
            <div class="item-body">
                <h4 class="item-title">Womens Wear</h4>
                <p class="item text">choose which one you wnat</p>
                <a href="#wom" class="btn btn-primary">Select</a>
            </div>
            </div>
            <div class="item" style="width:300">
                <img class="item-img-top" src="C:\Cts\angular8\Emart\src\assets\gentswear.jpg"alt="item">
                <div class="item-body">
                    <h4 class="item-title">Gents Wear</h4>
                    <p class="item text">choose which one you wnat</p>
                    <a href="#gen" class="btn btn-primary">Select</a>
                </div>
                </div>
                <div class="item" style="width:300">
                    <img class="item-img-top" src="C:\Cts\angular8\Emart\src\assets\kidswear.jpg"alt="item">
                    <div class="item-body">
                        <h4 class="item-title">Kids Wear</h4>
                        <p class="item text">choose which one you wnat</p>
                        <a href="#kids" class="btn btn-primary">Select</a>
                    </div>
                    </div>
                    <div class="item" style="width:300">
                        <img class="item-img-top" src="C:\Cts\angular8\Emart\src\assets\gentswear.jpg"alt="item">
                        <div class="item-body">
                            <h4 class="item-title">Girls Wear</h4>
                            <p class="item text">choose which one you wnat</p>
                            <a href="#girls" class="btn btn-primary">Select</a>
                        </div>
                    </div>
            </div>
        </div>


        <div id="acc">
            <div class="card-column">
                <div class="item" style="width:300">
                <img class="item-img-top" src="..assets/shoes.png"alt="item">
                <div class="item-body">
                    <h4 class="item-title">Shoes</h4>
                    <p class="item text">choose which one you wnat</p>
                    <a href="#shoe" class="btn btn-primary">Select</a>
                </div>
                </div>
                <div class="item" style="width:300">
                    <img class="item-img-top" src="..assets/bags.png"alt="item">
                    <div class="item-body">
                        <h4 class="item-title">Bags</h4>
                        <p class="item text">choose which one you wnat</p>
                        <a href="#bag" class="btn btn-primary">Select</a>
                    </div>
                    </div>
                    <div class="item" style="width:300">
                        <img class="item-img-top" src="..assets/jewelery.png"alt="item">
                        <div class="item-body">
                            <h4 class="item-title">Jewelery</h4>
                            <p class="item text">choose which one you wnat</p>
                            <a href="#jew" class="btn btn-primary">Select</a>
                        </div>
                        </div>
                        <div class="item" style="width:300">
                            <img class="item-img-top" src="..assets/watches.png"alt="item">
                            <div class="item-body">
                                <h4 class="item-title">Watches</h4>
                                <p class="item text">choose which one you wnat</p>
                                <a href="#watc" class="btn btn-primary">Select</a>
                            </div>
                        </div>
                </div>
            </div>
</section>

<!-- <div class="row">
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body"  >
                <img class="item-img-top" src="assets/images/mi.jpg" alt="item">
                <h5 class="card-title">Mobiles</h5>
                <p class="card-text">Choose</p>
                <a href="#clth" class="btn btn-primary" routerLink="/Click/">Select</a>
            </div>
        </div>
    </div>
</div> -->